aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.7.0
appnope==0.1.3
argilla==1.8.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
asitop==0.0.23
asttokens==2.2.1
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.7.0
autoviz==0.1.58
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.1
bleach==5.0.0
blessed==1.19.1
blis==0.7.9
blurhash==1.1.4
bokeh==2.4.3
boost==0.1
Brotli==1.0.9
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.0
chardet==5.1.0
charset-normalizer==2.0.12
chromadb==0.3.23
click==8.1.3
clickhouse-connect==0.5.25
colorcet==3.0.1
colorclass==2.2.2
coloredlogs==15.0.1
comm==0.1.3
commonmark==0.9.1
compressed-rtf==1.0.6
confection==0.0.4
coremltools==5.2.0
cryptography==41.0.1
cycler==0.11.0
cymem==2.0.7
dash==2.9.2
dash-bootstrap-components==1.3.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dashing==0.1.0
dataclasses-json==0.5.7
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
Django==4.2.5
drawdata==0.2.0
dtale==2.14.0
duckdb==0.8.0
easygui==0.98.3
ebcdic==1.1.1
emoji==2.2.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.1/en_core_web_md-3.4.1-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
extract-msg==0.41.1
Faker==17.0.0
fastapi==0.96.0
fastjsonschema==2.15.3
filelock==3.12.0
Flask==2.1.2
Flask-Compress==1.13
Flask-Cors==3.0.10
flask-ngrok==0.0.25
fonttools==4.33.3
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
gpt4all==0.2.3
h11==0.14.0
hnswlib==0.7.0
holoviews==1.14.9
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.15.1
humanfriendly==10.0
hvplot==0.8.3
idna==3.3
IMAPClient==2.3.1
importlib-resources==5.12.0
ipykernel==6.24.0
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.5.1
jupyter==1.0.0
jupyter-console==6.4.3
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kaleido==0.2.1
kiwisolver==1.4.2
langchain==0.0.177
langcodes==3.3.0
lark-parser==0.12.0
lazy_loader==0.2
libretranslatepy==2.1.1
llama-cpp-python==0.1.50
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
Mastodon.py==1.8.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
mdurl==0.1.2
meteomoris==2.7.0
missingno==0.4.2
mistune==0.8.4
monotonic==1.6
MouseInfo==0.1.3
mpmath==1.2.1
msg-parser==1.2.0
msoffcrypto-tool==5.0.1
multidict==6.0.4
multipledispatch==0.6.0
murmurhash==1.0.9
mypy-extensions==1.0.0
natsort==8.3.1
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook==6.4.11
numexpr==2.8.4
numpy==1.22.2
olefile==0.46
oletools==0.60.1
openai==0.27.2
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
openpyxl==3.1.2
packaging==23.1
paho-mqtt==1.6.1
pandas==1.4.2
pandas-flavor==0.5.0
pandoc==2.3
pandocfilters==1.5.0
panel==0.12.7
param==1.13.0
parso==0.8.3
pathy==0.10.1
patsy==0.5.3
pcodedmp==1.2.6
pdfminer.six==20221105
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
platformdirs==3.9.1
plotly==5.14.1
plumbum==1.8.2
ply==3.11
posthog==3.0.1
preshed==3.0.8
prometheus-client==0.14.1
prompt-toolkit==3.0.39
protobuf==3.19.4
psutil==5.9.5
psycopg2-binary==2.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyamg==4.2.3
PyAutoGUI==0.9.53
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.14.1
pyct==0.5.0
pydantic==1.10.8
PyGetWindow==0.0.9
Pygments==2.15.1
pyjanitor==0.24.0
PyMsgBox==1.0.9
pyobjc==9.0.1
pyobjc-core==9.0.1
pyobjc-framework-Accessibility==9.0.1
pyobjc-framework-Accounts==9.0.1
pyobjc-framework-AddressBook==9.0.1
pyobjc-framework-AdServices==9.0.1
pyobjc-framework-AdSupport==9.0.1
pyobjc-framework-AppleScriptKit==9.0.1
pyobjc-framework-AppleScriptObjC==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-AppTrackingTransparency==9.0.1
pyobjc-framework-AudioVideoBridging==9.0.1
pyobjc-framework-AuthenticationServices==9.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.0.1
pyobjc-framework-Automator==9.0.1
pyobjc-framework-AVFoundation==9.0.1
pyobjc-framework-AVKit==9.0.1
pyobjc-framework-AVRouting==9.0.1
pyobjc-framework-BackgroundAssets==9.0.1
pyobjc-framework-BusinessChat==9.0.1
pyobjc-framework-CalendarStore==9.0.1
pyobjc-framework-CallKit==9.0.1
pyobjc-framework-CFNetwork==9.0.1
pyobjc-framework-ClassKit==9.0.1
pyobjc-framework-CloudKit==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Collaboration==9.0.1
pyobjc-framework-ColorSync==9.0.1
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-ContactsUI==9.0.1
pyobjc-framework-CoreAudio==9.0.1
pyobjc-framework-CoreAudioKit==9.0.1
pyobjc-framework-CoreBluetooth==9.0.1
pyobjc-framework-CoreData==9.0.1
pyobjc-framework-CoreHaptics==9.0.1
pyobjc-framework-CoreLocation==9.0.1
pyobjc-framework-CoreMedia==9.0.1
pyobjc-framework-CoreMediaIO==9.0.1
pyobjc-framework-CoreMIDI==9.0.1
pyobjc-framework-CoreML==9.0.1
pyobjc-framework-CoreMotion==9.0.1
pyobjc-framework-CoreServices==9.0.1
pyobjc-framework-CoreSpotlight==9.0.1
pyobjc-framework-CoreText==9.0.1
pyobjc-framework-CoreWLAN==9.0.1
pyobjc-framework-CryptoTokenKit==9.0.1
pyobjc-framework-DataDetection==9.0.1
pyobjc-framework-DeviceCheck==9.0.1
pyobjc-framework-DictionaryServices==9.0.1
pyobjc-framework-DiscRecording==9.0.1
pyobjc-framework-DiscRecordingUI==9.0.1
pyobjc-framework-DiskArbitration==9.0.1
pyobjc-framework-DVDPlayback==9.0.1
pyobjc-framework-EventKit==9.0.1
pyobjc-framework-ExceptionHandling==9.0.1
pyobjc-framework-ExecutionPolicy==9.0.1
pyobjc-framework-ExtensionKit==9.0.1
pyobjc-framework-ExternalAccessory==9.0.1
pyobjc-framework-FileProvider==9.0.1
pyobjc-framework-FileProviderUI==9.0.1
pyobjc-framework-FinderSync==9.0.1
pyobjc-framework-FSEvents==9.0.1
pyobjc-framework-GameCenter==9.0.1
pyobjc-framework-GameController==9.0.1
pyobjc-framework-GameKit==9.0.1
pyobjc-framework-GameplayKit==9.0.1
pyobjc-framework-HealthKit==9.0.1
pyobjc-framework-ImageCaptureCore==9.0.1
pyobjc-framework-IMServicePlugIn==9.0.1
pyobjc-framework-InputMethodKit==9.0.1
pyobjc-framework-InstallerPlugins==9.0.1
pyobjc-framework-InstantMessage==9.0.1
pyobjc-framework-Intents==9.0.1
pyobjc-framework-IntentsUI==9.0.1
pyobjc-framework-IOSurface==9.0.1
pyobjc-framework-iTunesLibrary==9.0.1
pyobjc-framework-KernelManagement==9.0.1
pyobjc-framework-LatentSemanticMapping==9.0.1
pyobjc-framework-LaunchServices==9.0.1
pyobjc-framework-libdispatch==9.0.1
pyobjc-framework-LinkPresentation==9.0.1
pyobjc-framework-LocalAuthentication==9.0.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0.1
pyobjc-framework-MailKit==9.0.1
pyobjc-framework-MapKit==9.0.1
pyobjc-framework-MediaAccessibility==9.0.1
pyobjc-framework-MediaLibrary==9.0.1
pyobjc-framework-MediaPlayer==9.0.1
pyobjc-framework-MediaToolbox==9.0.1
pyobjc-framework-Metal==9.0.1
pyobjc-framework-MetalFX==9.0.1
pyobjc-framework-MetalKit==9.0.1
pyobjc-framework-MetalPerformanceShaders==9.0.1
pyobjc-framework-MetalPerformanceShadersGraph==9.0.1
pyobjc-framework-MetricKit==9.0.1
pyobjc-framework-MLCompute==9.0.1
pyobjc-framework-ModelIO==9.0.1
pyobjc-framework-MultipeerConnectivity==9.0.1
pyobjc-framework-NaturalLanguage==9.0.1
pyobjc-framework-NetFS==9.0.1
pyobjc-framework-Network==9.0.1
pyobjc-framework-NetworkExtension==9.0.1
pyobjc-framework-NotificationCenter==9.0.1
pyobjc-framework-OpenDirectory==9.0.1
pyobjc-framework-OSAKit==9.0.1
pyobjc-framework-OSLog==9.0.1
pyobjc-framework-PassKit==9.0.1
pyobjc-framework-PencilKit==9.0.1
pyobjc-framework-Photos==9.0.1
pyobjc-framework-PhotosUI==9.0.1
pyobjc-framework-PreferencePanes==9.0.1
pyobjc-framework-PushKit==9.0.1
pyobjc-framework-Quartz==9.0.1
pyobjc-framework-QuickLookThumbnailing==9.0.1
pyobjc-framework-ReplayKit==9.0.1
pyobjc-framework-SafariServices==9.0.1
pyobjc-framework-SafetyKit==9.0.1
pyobjc-framework-SceneKit==9.0.1
pyobjc-framework-ScreenCaptureKit==9.0.1
pyobjc-framework-ScreenSaver==9.0.1
pyobjc-framework-ScreenTime==9.0.1
pyobjc-framework-ScriptingBridge==9.0.1
pyobjc-framework-SearchKit==9.0.1
pyobjc-framework-Security==9.0.1
pyobjc-framework-SecurityFoundation==9.0.1
pyobjc-framework-SecurityInterface==9.0.1
pyobjc-framework-ServiceManagement==9.0.1
pyobjc-framework-SharedWithYou==9.0.1
pyobjc-framework-SharedWithYouCore==9.0.1
pyobjc-framework-ShazamKit==9.0.1
pyobjc-framework-Social==9.0.1
pyobjc-framework-SoundAnalysis==9.0.1
pyobjc-framework-Speech==9.0.1
pyobjc-framework-SpriteKit==9.0.1
pyobjc-framework-StoreKit==9.0.1
pyobjc-framework-SyncServices==9.0.1
pyobjc-framework-SystemConfiguration==9.0.1
pyobjc-framework-SystemExtensions==9.0.1
pyobjc-framework-ThreadNetwork==9.0.1
pyobjc-framework-UniformTypeIdentifiers==9.0.1
pyobjc-framework-UserNotifications==9.0.1
pyobjc-framework-UserNotificationsUI==9.0.1
pyobjc-framework-VideoSubscriberAccount==9.0.1
pyobjc-framework-VideoToolbox==9.0.1
pyobjc-framework-Virtualization==9.0.1
pyobjc-framework-Vision==9.0.1
pyobjc-framework-WebKit==9.0.1
pypandoc==1.11
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27
python-pptx==0.6.21
pytweening==1.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
pywhatkit==5.4
PyYAML==6.0
pyzmq==25.1.0
qrcode==7.3.1
qtconsole==5.3.0
QtPy==2.1.0
red-black-tree-mod==1.20
regex==2022.10.31
requests==2.31.0
rfc3986==1.5.0
rich==13.0.1
RTFDE==0.0.2
rubicon-objc==0.4.5
scikit-learn==1.1.1
scipy==1.9.3
seaborn==0.11.2
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
senticnet==1.6
six==1.16.0
sklearn==0.0.post1
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spacy==3.4.4
spacy-legacy==3.0.11
spacy-loggers==1.0.4
SQLAlchemy==2.0.15
sqlparse==0.4.4
squarify==0.4.3
srsly==2.4.5
stack-data==0.6.2
starlette==0.27.0
statsmodels==0.13.5
strsimpy==0.2.1
sweetviz==2.1.4
sympy==1.9
tabulate==0.9.0
tenacity==8.2.2
terminado==0.15.0
textblob==0.17.1
thinc==8.1.7
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.13.3
toml==0.10.2
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.29.2
translate==3.6.1
tuyalinksdk==0.0.3
typer==0.7.0
typing-inspect==0.9.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==4.2
ultralytics==8.0.119
unstructured==0.6.6
urllib3==2.0.2
uvicorn==0.22.0
uvloop==0.17.0
wasabi==0.10.1
watchfiles==0.19.0
wcwidth==0.2.6
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.1.2
widgetsnbextension==3.6.0
wikipedia==1.4.0
wordcloud==1.8.2.2
wrapt==1.14.1
xarray==2023.3.0
xgboost==1.7.5
xlrd==2.0.1
XlsxWriter==3.1.2
yarl==1.8.2
yellowbrick==1.5
zstandard==0.21.0
