<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers</title>
</head>
<body>
    <h1>Drivers</h1>

    <table>
        <thead>
            <tr>
                <th>Driver ID</th>
                <th>Driver Name</th>
            </tr>
        </thead>
        {% for driver in drivers %}
            <tr>
                <td>{{ driver.id }}</td>
                <td>{{ driver.name }}</td>
            
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>